! Colors  
xterm*background:  #332d34
xterm*foreground:  #dddbcc  
xterm*color0:      #41454c  
xterm*color8:      #41454c  
xterm*color1:      #bfa69c  
xterm*color9:      #bfa69c  
xterm*color2:      #9cbfab  
xterm*color10:     #9cbfab
xterm*color3:      #ab9c8f
xterm*color11:     #ab9c8f  
xterm*color4:      #9dbac0  
xterm*color12:     #9dbac0
xterm*color5:      #857275
xterm*color13:     #857275
xterm*color6:      #9cb2bf
xterm*color14:     #9cb2bf
xterm*color7:      #dddbcc
xterm*color15:     #dddbcc

! Settings
xterm*scrollBar:       false
xterm*internalBorder:  30
urxvt.letterSpace:     0
urxvt.lineSpace:       0

! XFT Font Settings
Xft.antialias: 1
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96

! Font
xterm*font:	*-fixed-*-*-*-18-*
